body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
div,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #0269c8;
    cursor: pointer;
}
a:hover{
    color:#909090;
}

body {
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1.7;
    font-size: 0.16rem;
    color:rgba(0, 0, 0, 0.7)
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
input,
select {
    width:100%;
    vertical-align: baseline;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

input,
button,
select,
textarea {
    outline: none;
}



.f {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.f1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.fc {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center
}

.fc-h {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.f-end {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.fv {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fw {
    -webkit-flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fj {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rel {
    position: relative;
}

.fs {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.line {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.line1 {
    -webkit-line-clamp: 1;
}

.line2 {
    -webkit-line-clamp: 2;
}

.line3 {
    -webkit-line-clamp: 3;
}

[v-cloak] {
    display: none
}

@font-face {
    font-family: 'beyno';
    src: url("./BEYNO.ttf");
}


/* 字体颜色 */

.c409 {
    color: #409eff;
}

.c007 {
    color: #007fff;
}

.c9090 {
    color: #909090;
}

.c71 {
    color: #71777c;
}

.cred {
    color: rgb(241, 61, 61)
}

.ml30 {
    margin-left: 0.3rem;
}

.ml10 {
    margin-left: 0.1rem;
}

.mb20 {
    margin-bottom: 0.2rem;
}

.cu {
    cursor: pointer;
}


.container{
  width: 60%;
  margin: 0.2rem auto;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.15);
}
blockquote{
    margin: 0 0 10px;
    padding: 15px 20px;
    background-color: #f1f2f3;
    border-left: 5px solid #ccc;
    color: #666;
    font-style: italic;
}

p code{
    background-color: #fff5f5;
    color: #ff502c;
    font-size: .87em;
    padding: .065em .4em;
}
pre{
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0;
    padding: 15px;
    overflow: auto;
    background-color: #f1f2f3;
    border-radius: 3px;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;

}
pre code {
    line-height: normal;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1em;
}
